@font-face {
  font-family: "Grtsk Giga";
  src: local("Grtsk Giga Semibold"), local("Grtsk-Giga-Semibold"),
    url("@/assets/fonts/GrtskGiga-Semibold.woff") format("woff2"),
    url("@/assets/fonts/GrtskGiga-Semibold.woff") format("woff"),
    url("@/assets/fonts/GrtskGiga-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Grtsk Giga";
  src: local("Grtsk Giga Bold"), local("Grtsk-Giga-Bold"),
    url("@/assets/fonts/GrtskGiga-Bold.woff2") format("woff2"),
    url("@/assets/fonts/GrtskGiga-Bold.woff") format("woff"),
    url("@/assets/fonts/GrtskGiga-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
